name: Deploy doghouse
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 50 # Need git history for testing.
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          # Ideally, it should be synced with doghouse/appengine/app.yaml,
          # but it's ok to use different one because it's only for testing.
          go-version: "go.mod"
      - run: go test -v -race  ./...
  deploy:
    permissions:
      contents: read
    needs: [test]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./doghouse/appengine/
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1
        with:
          project_id: review-dog
      - name: Decrypt keys
        env:
          GAE_KEYRING_NAME: reviewdog-doghouse-deploy
          GAE_KEY_NAME: secret-env
        run: |-
          gcloud kms decrypt --location=global \
            --keyring="$GAE_KEYRING_NAME" \
            --key="$GAE_KEY_NAME" \
            --ciphertext-file=secret/encrypted-reviewdog.private-key.pem.bin \
            --plaintext-file=secret/reviewdog.private-key.pem
          gcloud kms decrypt --location=global \
            --keyring="$GAE_KEYRING_NAME" \
            --key="$GAE_KEY_NAME" \
            --ciphertext-file=secret/encrypted-secret.yaml.bin \
            --plaintext-file=secret/secret.yaml
      - name: Deploy
        run: gcloud --quiet app deploy app.yaml
      - name: Cleanup
        run: |-
          rm secret/reviewdog.private-key.pem
          rm secret/secret.yaml
