name: release test
on:
  push:
    branches:
      - master
      - release-*
    tags:
      - "v*.*.*"
  pull_request:
    paths:
      - .github/workflows/release_test.yml
      - ".goreleaser*.yml"
      - go.mod
      - go.sum

jobs:
  release_test:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # Setup Go for building reviewdog binary.
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "go.mod"

      - name: Test goreleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "~> v2"
          args: check
