name: release
on:
  push:
    branches:
      - master
      - release-*
    tags:
      - 'v*.*.*'
  pull_request:
    types:
      - labeled

jobs:
  release:
    if: github.event.action != 'labeled'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Bump version on merging Pull Requests with specific labels.
      # (bump:major,bump:minor,bump:patch)
      - id: bumpr
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: haya14busa/action-bumpr@v1

      # Get tag name.
      - id: tag
        uses: haya14busa/action-cond@v1
        with:
          cond: "${{ startsWith(github.ref, 'refs/tags/') }}"
          if_true: ${{ github.ref }}
          if_false: ${{ steps.bumpr.outputs.next_version }}

      # Setup Go for building reviewdog binary.
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      # Test goreleaser if the tag is empty.
      - name: Test goreleaser
        uses: goreleaser/goreleaser-action@v2
        if: "steps.tag.outputs.value == ''"
        with:
          version: latest
          args: check

      # Create release.
      - name: Create release with goreleaser
        uses: goreleaser/goreleaser-action@v2
        if: "steps.tag.outputs.value != ''"
        with:
          version: latest
          args: release --rm-dist --release-header .github/goreleaser-header.md
        env:
          # Need to use personal access token instead of default token to
          # update https://github.com/reviewdog/homebrew-tap.
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}

      - name: Trigger depup workflows
        if: "steps.tag.outputs.value != ''"
        env:
          # Need to use personal access token instead of default token to
          # trigger workflow of other repositories.
          DEPUP_GITHUB_API_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
        run: go run ./scripts/trigger-depup/main.go

  release-check:
    if: github.event.action == 'labeled'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Post bumpr status comment
        uses: haya14busa/action-bumpr@v1
