name: release test
on:
  push:
    branches:
      - master
      - release-*
    tags:
      - "v*.*.*"
  pull_request:
    paths:
      - .github/workflows/release_test.yml
      - ".goreleaser*.yml"
      - go.mod
      - go.sum

jobs:
  release_test:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Setup Go for building reviewdog binary.
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          go-version-file: "go.mod"

      - name: Test goreleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "~> v2"
          args: check
